body{
    font-family: sans-serif;
}
.container{
    width: 80vw;
    height: 28vh;
    border:1px solid black;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
}

#posts{
    width: 400px;
}

#posts div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.options{
    display: flex;
    gap:25px;
}

i{
    cursor: pointer;
}